node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
.next
dist
build
coverage
.turbo
.swc
public/uploads
*.pem
.DS_Store
README.md
.vscode
.idea
*.log
**/charts
**/docker-compose*
**/compose.y*ml
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/build
**/dist
LICENSE
README.md